body {
    background: #7f7fad;
    font: normal 15pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
    color: aliceblue;
    text-align: center;

}

section {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 12px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 20px rgba(10, 10, 10, 0.275);
    
}
div {
    text-align: center;
    padding: 8px;
}

footer {
    color: aliceblue;
    text-align: center;
    font-style: italic;
}
#imagem {
    border-radius: 50%;
    width: 250px;
    height: 250px;
      
}